* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
:root {
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);
  --color-dark-grey: hsl(0, 0%, 40%);
  --color-light-grey: hsl(0, 0%, 60%);
  --color-green: hsl(160, 100%, 30%);
  --color-dark-orange: hsl(45, 100%, 40%);
  --color-light-orange: hsl(45, 100%, 50%);

  --font-size-base: 1rem; /* 16px */
  --font-size-small: 1.25rem; /* 20px */
  --font-size-medium: 1.5rem; /* 24px */
  --font-size-large: 2rem; /* 32px */

  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-6: 48px;
  --spacing-8: 64px;
  --spacing-12: 96px;
  --spacing-16: 128px;
}

h1 {
  font-size: var(--font-size-large);
  margin-top: 0;
}

h2 {
  margin-top: 0;
  font-size: var(--font-size-medium);
}

.indented-heading {
  margin-left: calc(-1 * (var(--spacing-3) + var(--spacing-1) ));
}

p {
  font-size: var(--font-size-small);
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 16px;
}

strong {
  color: var(--color-green)
}

header {
  padding-top: var(--spacing-12);
  padding-right: var(--spacing-3);
  padding-bottom: var(--spacing-8);
  padding-left: var(--spacing-3);
}

.intro-chunk > p {
  max-width: 401px;
  margin-inline-end: auto;
}

@media (min-width: 768px) {
  .intro-chunk > p {
    max-width: 415px;
  }
}

.intro-chunk > p:last-child {
  margin-bottom: 0;
}

main {
  padding-top: var(--spacing-8);
  padding-bottom: var(--spacing-8);
  background-color: var(--color-dark-grey);
  border-top: 8px solid var(--color-light-grey);
}

.card {
  padding: var(--spacing-1) var(--spacing-3) var(--spacing-3);
  background-color: var(--color-white);
  border-bottom: 8px solid var(--color-light-grey);
}

.card > h2 {
  max-width: max-content;
  padding: var(--spacing-2) var(--spacing-4);
  margin-bottom: var(--spacing-3);
  border-bottom: 8px solid var(--color-dark-orange);
  background-color: var(--color-light-orange);
}

.card > p:last-child {
  margin-bottom: 0;
}

.max-width-wrapper {
  max-width: 800px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}
